# idk why make generates .d
*.d

# and bins/swaps/static/dynamic libs
*.o
*.dll
*.swp
*.exe

# emitted bytecode
*.stk

# bytecode format planning
spec.md
TODO

# trying to get this down from 700 fucking lines. this is 50% python cuz im not modularizing right lmao
testbackup700l.py